
@{
    ViewBag.Title = "Bikes";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bi&Sc</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/catalogPage.css" rel="stylesheet" />


</head>
<body>

    <div class="container bootstrap snipets">
        <h1 class="text-center text-muted">Bikes Catalog</h1>

        @{
            if (Model != null)
            {
                foreach (var Data in Model)
                {
                    <div class="flex-wrap">
                        <div class="col-xs-6 col-md-4">
                            <div class="product tumbnail thumbnail-3">
                                        <a href="#">
                                            <img src="~/Images/qw.jpg" />
                                        </a>
                                <div class="caption">
                                    <h6><a href="~/Bike/BikeProp/@Data.Id">@Data.Name</a></h6><span class="price">
                                        <del>$@Data.Price</del>
                                    </span><span class="price sale">$@Data.Price</span>
                                </div>
                            </div>
                            <div class="bottom-right">

                                <h6><a href="~/Cart/ShowCart/@Data.Id">Buy</a></h6> 
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</body>
</html>
